div.container-fluid.header
 div.container
  div.col-lg-3.logo
   img(src="../images/logo.png")
  div.col-lg-6.search
<i class="search-icon"></i>
<input class="search-field">
</div>
<div class="col-lg-3 auth">
<a href="#" class="authori"><ng-md-icon icon="account_circle" style="fill: white" size="20"></ng-md-icon>Войти</a>
</div>
</div>
</div>
