.login md-input-container.md-input-focused > ng-md-icon {
  fill: #3f51b5;
}
.login md-input-container.md-input-invalid > ng-md-icon {
  fill: red !important;
}
.login {
  margin-top:200px;
}

md-tab-content{
  padding:10px;
  overflow:hidden;
}

.login md-input-container {
  margin-top: 0px !important;
  margin-bottom: -16px !important;
}

.rowtr {
  float:left;
  width: 44%;
  margin-left:3% ;
  }

.my-drop-zone{
  height: 200px;
  background-color: rgba(225, 225, 225, 0.22);
  text-align: center;
  border: 2px dashed #3F51B5;
  padding-top: 75px;
  color: #b2b2b2;
}

.rowtr .md-datepicker-button {
  display: none;
}

.rowtr .md-datepicker-input-container {

  width: 100%;
  margin-left: 3px;
  margin-top: 29px !important;
}

.md-datepicker-calendar-pane {
  background-color:  white !important;

}

#omg {
  position: absolute;
  display: none;

}