<div class="container-fluid header">
    <div class="container">
        <div class="col-lg-3 logo">
            <img src="../images/logo.png">
        </div>
        <div class="col-lg-6 search">
            <i class="search-icon"></i>
            <input class="search-field">
        </div>
        <div class="col-lg-3 auth">

            <a href="#" class="authori"><ng-md-icon icon="account_circle" style="fill: white" size="20"></ng-md-icon>Войти</a>

            <span class="logined">{{name}} {{surname}}</span>
        </div>
    </div>
</div>

<div class="container-fluid menu">
    <div class="container">
        <ul>
            <li class="col-lg-2">
                <a data-ng-href="#/project"> <ng-md-icon icon="folder" style="fill: white" size="20"></ng-md-icon>Проекты </a>
            </li>
            <li class="col-lg-2">
                <a data-ng-href="#/tasks"><ng-md-icon icon="web" style="fill: white" size="20"></ng-md-icon>Задачи</a>
            </li>
            <li class="col-lg-2 hidden">
                <a data-ng-href="#"><ng-md-icon icon="message" style="fill: white" size="20"></ng-md-icon>Сообщения</a>
            </li>
            <li class="col-lg-2 hidden">
                <a data-ng-href="#"><ng-md-icon icon="assessment" style="fill: white" size="20"></ng-md-icon>Календарь</a>
            </li>
            <li class="col-lg-2 hidden">
                <a data-ng-href="#"><ng-md-icon icon="dashboard" style="fill: white" size="20"></ng-md-icon>Итоги</a>
            </li>
            <li class="col-lg-2 hidden" >
                <a data-ng-href="#"><ng-md-icon icon="info_outline" style="fill: white" size="20"></ng-md-icon>О системе</a>
            </li>
        </ul>
    </div>
</div>


<div class="content">
    <div class="container">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class="title row">Проекты</div>
                </div>
                <div class="col-lg-3 pull-right">
                    <md-button id="addproj" data-ng-click="add()" class="md-raised md-primary"><ng-md-icon icon="add" style="fill: white" size="20"></ng-md-icon>Добавить</md-button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Новый проект</h4>
                    </div>
                    <div class="modal-body">
                      <md-input-container class="rowtr hidden">
                          <label>Id</label>
                          <input ng-model="proj.id" type="text">
                      </md-input-container>
                        <md-input-container class="rowtr">
                            <label>Название</label>
                            <input ng-model="proj.name" type="text">
                        </md-input-container>
                        <md-input-container class="rowtr">
                            <label>Репозиторий</label>
                            <input ng-model="proj.repository" type="text">
                        </md-input-container>
                    </div>
                    <div class="modal-footer">
                        <md-button class="md-raised"  data-dismiss="modal"><ng-md-icon icon="cancel" style="fill: black" size="20"></ng-md-icon>Закрыть</md-button>
                        <md-button class="md-raised md-primary" data-ng-click="newProject()"><ng-md-icon icon="save" style="fill: white" size="20"></ng-md-icon>Сохранить</md-button>

                    </div>
                </div>
            </div>
        </div>
        <div class="projects">
            <md-whiteframe class="md-whiteframe-z1 col-lg-12" data-ng-repeat="project in projects">
                <div class="col-lg-3">{{project.name}}</div>
                <div class="col-lg-3"><a href="{{project.repository}}" class="repo">{{project.repository}}</a></div>
                <div class="col-lg-1 col-lg-offset-5 pull-right">
                    <ng-md-icon icon="rate_review" data-ng-click="update(project, $index)" style="fill: black" size="24"></ng-md-icon>
                    <ng-md-icon icon="delete"  data-ng-click="delete(project, $index)" style="fill: black" size="24"></ng-md-icon>
                </div>
            </md-whiteframe>
        </div>
    </div>
</div>
